<footer>
  <div class="wrap">
    <p>
      &copy; 2026 {{ site.name }}
      <span class="sep">|</span>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <span class="sep">|</span>
      <a href="{{ site.linkedin }}" target="_blank">LinkedIn</a>
    </p>
  </div>
</footer>
